@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,600;1,600&display=swap');

* {
    margin: 0;
    padding: 0%;
}

/* Config Header */

header {
    width: 100vw;
    min-height: 8vh;
}

.navbar .nav-item .nav-link {
    display: flex;
    align-items: flex-end;
    justify-content: start;
    width: 100%;
    height: 5vh;
}

.navbar .nav-item .nav-link:focus {
    scale: 1.015;
}

.navbar-nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

/* Config MAIN */

main {
    width: 100vw;
    min-height: 80vh;
}

.organizacao-Texto-Img {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-left: 30vh;
}

.organizacao-Texto-Img img {
    width: 100%;
}

.organizacaoTexto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 3vh;
}

.organizacaoTexto h1 {
    font-size: 1.8rem;
}

.organizacaoTexto p {
    display: flex;
    font-size: 1.1rem;
    text-align: justify;
    justify-content: center;
    margin-top: 2vh;
    width: 100%;
}

.organizacaoImg {
    width: 100%;
    text-align: center;
}

.organizacaoImg img {
    width: 75%;
    justify-content: center;
}

/*CONFIG Footer*/

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    margin-top: 5%;
    background-color: #d9d9d9;
}

.containerFooter {
    width: 100%;
    display: flex;
}

.boxImgFooter {
    width: 50%;
    height: 200px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.boxImgFooter img {
    height: 70%;
    margin-right: 5%;
}

.boxItemsFooter {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 200px;
}

.boxItemsFooter ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

.boxItemsFooter ul li {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    list-style: none;
    height: 35px;
    padding-left: 5%;
}

.containerFooter a {
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

.containerFooterUltimo {
    display: flex;
    width: 100%;
    height: 6vh;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 760px) {
    /* borda header */
    .bdr {
        width: 30%;
        height: 2px;
        background-color: rgb(141, 141, 141);
    }

    .organizacao-Texto-Img {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100vw;
        padding: 5%;
        align-items: center;
        margin: 0;
    }

    /* FOOTER CONFIG */

    .containerFooter {
        width: 100%;
        min-height: 25vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .boxImgFooter {
        width: 45%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .boxItemsFooter {
        width: 55%;
    }

    .boxImgFooter img {
        width: 60%;
    }

    .boxItemsFooter a {
        font-size: 0.7rem;
        font-weight: 600;
    }

    .containerFooterUltimo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 8vh;
        border-top: 1px solid #0000008f;
    }

    .containerFooterUltimo p {
        font-size: 0.8rem;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
    }
}
