@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

body{
    overflow-x: hidden;
}


.header {
    width: 100vw;
    border-bottom: 1px solid;
}

main {
    width: 100vw;
    min-height: 100vh;
}


.Logo-Menu {
    width: 60px;
    height: 60px;
}

.boxVr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
}

.boxVr1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
}

.boxVr1 div h1 {
    text-align: justify;
    font-size: 5rem;
    font-weight: 400;
}

.boxVr1 div h2 {
    font-size: 1.1rem;
}

.boxVr1 iframe{
    margin-top: 5vh;
}

.boxVr2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
}

.boxVr2 .umImg {
    margin-left: 50px;
}

.VRimagens {
    width: 32%;
}

.carroselVr{
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.carroselVr img{
    width: 100%;
}

.containerImersoes{
    width: 100%;
    display: flex;
}

.containerImersoes img{
    width: 25%;
}